@model PagedList.IPagedList<NintendoStore.Models.NintendoProduct>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Products</h1>

<div class="picture">
    <img src="~/Images/rsz_1rsz_next_day_delivery.jpg" style="text-align: center; "/>
</div>

<br />

@using (Html.BeginForm("Index", "ProductsDisplay", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("proDuctss", "All")
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-success" />
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_BuyProducts", item);
    }
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))